<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <% if (profile.avatar) { %>
    <div>
      <img 
        class="profile-avatar animate__animated animate__slideInRight"
        src="<%= profile.avatar %>" 
        alt="<%= profile.name %> avatar"
      >
    </div>
  <% } %>
  <h1 class="animate__animated animate__slideInLeft">It's <%= isSelf ? "you" : profile.name %>!</h1>
  <section class="animate__animated animate__slideInRight profile">
    <% if(isContributor.length) { %> 
            <h2 class="profile-header"><%= isSelf ? "You" : profile.name %> contributed <%= isContributor.length %> ideas to this focus group!</h2>
            <ul>
              <% isContributor.forEach(function(review) { %> 
                <li>
                  <a href="/ideas/<%= review._id %>"><%= review.content %></a>
                </li>
                <% }) %> 
            </ul>
    <% } else { %>
      <h3>No car ideas contributed from <%= isSelf ? "you" : profile.name %></h3>
    <% } %> 
  </section>
</main>

<%- include('../partials/footer') %>