<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<h1>You have no good car ideas!</h1>
<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
<img src="https://pyxis.nymag.com/v1/imgs/f4a/8bf/796135c39bf253c69955c1c82333d44ba5-02-tim-robinson-dabbing.2x.rsocial.w600.jpg" alt="Ruben dabbing">

<%- include('./partials/footer') %>