<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <% if (user) { %>
  <h1 class="animate__animated animate__slideInLeft">Here are some proposed features. What do you think?</h1>
  <table class="animate__animated animate__slideInRight">
    <thead>
      <tr>
        <th>Proposed Feature</th>
        <th class="detail-head">Take a Closer Look</th>
      </tr>
  </thead>
  <tbody>
    <% ideas.forEach(idea => { %>
      <tr>
        <td><i class="fas fa-lightbulb"></i> <%= idea.content %></td> 
        <td class="detail-btn-container"><a href="/ideas/<%= idea._id %>" class="btn-link"><button class="detail-btn">Details</button></a></td>
      </tr>
    <% }) %>
  </tbody>
</table>
<% } else { %>
  <h1>You have to log in to do cool stuff</h1>
<% } %> 
</main>

<%- include('../partials/footer') %>
