<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1>Here are some proposed features. What do you think?</h1>
  <table>
    <thead>
      <tr>
        <th>Proposed Feature</th>
        <th>Take a Closer Look</th>
      </tr>
  </thead>
  <tbody>
    <% ideas.forEach(idea => { %>
      <tr>
        <td><i class="fas fa-lightbulb"></i> <%= idea.content %></td> 
        <td class="detail-btn"><a href="/ideas/<%= idea._id %>"><button>Details</button></a></td>
      </tr>
    <% }) %>
  </tbody>
</table>
</main>

<%- include('../partials/footer') %>
