<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1>get dunked on, <%= user ? user.profile.name : "friend" %></h1>
  <ul>
  <% ideas.forEach(idea => { %>
    <li class="idea"><%= idea.content %> 
      <a href="/ideas/<%= idea._id %>"><button>Details</button></a>
    </li>
  <% }) %>
</ul>
</main>

<%- include('../partials/footer') %>
