<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <section>
    <h1 class="animate__animated animate__slideInLeft">Let's Take a Closer Look</h1>
    <p class="feature-header animate__animated animate__slideInRight"><%= idea.content %> </p>
    <p class="animate__animated animate__slideInRight">Submitted by <%= idea.contributor.name %></p>
    <% if (idea.contributor.equals(user?.profile._id)) { %>
      <form class="animate__animated animate__slideInRight" action="/ideas/<%= idea._id %>/edit" method="GET">
        <button class="user-detail-btn" type="submit">Edit this Idea</button>
      </form>
      <div class="animate__animated animate__slideInRight" >
      <form action="/ideas/<%= idea._id %>?_method=DELETE" method="POST">
        <button class="user-detail-btn" type="submit">Delete this Idea</button>
      </form>
    </div>
    <% } %>
  </section>
  <section class="detail-view">
    <% if (user) { %>
      <h2 class="animate__animated animate__slideInLeft">Got Feedback for this Idea?</h2>
      <div class="animate__animated animate__slideInRight">
      <form action="/ideas/<%= idea._id %>/reviews" method="POST">
        <label>
          This is a good car idea
          <input type="checkbox" name="goodIdea">
        </label>
        <input type="text" name="content" placeholder="Add comment" autocomplete="off" required>
        <button type="submit">Submit</button>
      </form>
    </div>
    <% } %>
  </section>
  <section>
    <% if(idea.reviews.length) { %> 
      <table class="animate__animated animate__slideInLeft">
        <thead>
          <tr>
            <th>Date</th>
            <th>Contributor</th>
            <th>Review</th>
            <th>Good idea?</th>
          </tr>
        </thead>
        <tbody>
          <% idea.reviews.forEach(function(review){ %>
            <tr>
              <td><%= review.createdAt.toLocaleDateString() %> </td>
              <td><%= review.contributor.name %></td>
              <td><%= review.content %></td>
              <td><%= review.goodIdea ? "good idea" : "no good idea" %> </td>
              <td class="table-btn-container">
                <form action="/ideas/<%= idea._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST" class="table-delete-btn">
                  <button>DELETE</button>
                  </form>
              </td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    <% } else { %>
      <h3>No one has rated this feature</h3>
    <% } %> 
  </section>
</main>

<%- include('../partials/footer') %>
