<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <section>
    <h1>Here is where you see the details%></h1>
    <p><%= idea.content %> </p>
    <p>Submitted by <%= idea.contributor.name %></p>
    <% if (idea.contributor.equals(user?.profile._id)) { %>
      <form action="/ideas/<%= idea._id %>/edit" method="GET">
        <button type="submit">Edit this Idea</button>
      </form>
      <form action="/ideas/<%= idea._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete this Idea</button>
      </form>
    <% } %>
  </section>
  <section>
    <% if (user) { %>
      <h2>Got Feedback for this Idea?</h2>
      <form action="/ideas/<%= idea._id %>/reviews" method="POST">
        <label>
          This is a good car idea
          <input type="checkbox" name="goodIdea">
        </label>
        <input type="text" name="content" placeholder="Add comment" autocomplete="off" required>
        <button type="submit">Submit</button>
      </form>
    <% } %>
  </section>
  <section>
    <% if(idea.reviews.length) { %> 
      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>Contributor</th>
            <th>Review</th>
            <th>Good idea?</th>
          </tr>
        </thead>
        <tbody>
          <% idea.reviews.forEach(function(review){ %>
            <tr>
              <td><%= review.createdAt.toLocaleDateString() %> </td>
              <td><%= review.contributor.name %></td>
              <td><%= review.content %></td>
              <td><%= review.goodIdea ? "good idea" : "no good idea" %> </td>
              <td>
                <form action="/ideas/<%= idea._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
                  <button>DELETE</button>
                  </form>
              </td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    <% } else { %>
      <h3>No one has rated this feature</h3>
    <% } %> 
  </section>
</main>

<%- include('../partials/footer') %>
